// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


// Define fonts for body and headers
$body-font: 'Orbitron', sans-serif;
// $body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: 'Orbitron', sans-serif;
// $headers-font: "Nunito", "Helvetica", "sans-serif";

$mini-com: 'Orbitron', sans-serif;
$typewriter: 'Special Elite', cursive;
$monst: 'Montserrat', sans-serif;

body {
  h1 {
    font-size: MIN(10vmin, 56px); // force CSS3 compile.
  }
  h2 {
    font-size: MIN(7.5vmin, 48px);
  }
  h3 {
    font-size: MIN(6vmin, 40px);
  }
  h4 {
    font-size: MIN(5vmin, 32px);
  }
  h5 {
    font-size: MIN(4vmin, 24px);
  }
  h6 {
    font-size: MIN(3.25vmin, 16px);
  }
  P {
    font-size: MIN(3vmin, 16px)
  } 
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
