.aboutMe {
  max-height: 80vh;
  overflow-y: scroll;
}

.aboutMe-Pic {
  border-radius: $primBord-Rad;
  border: $primBord;
  position: relative;
}

.pic001 {
  transform: rotate(8deg);
  margin-left: 16px;
}

.pic002 {
  transform: rotate(8deg);
  margin-left: 16px;
  top: 6px;
}

.pic003 {
  transform: rotate(-8deg);
  margin-right: 24px;
}

.aboutMe-Block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 98%;
}

// @media(max-width: 768px) {
//   // .bio-block {
//   //   flex-direction: column;
//   // }
//   // .bio-block .aboutMe-Block-Picwrap {
//   //   float: right;
//   // }
//   // .pic002{
//   //   transform: rotate(0);
//   //   top: 0;
//   //   margin: 0;
//   // }
// }

@media(max-width: 600px) {
  .aboutMe-Block {
    flex-direction: column;
  }
  .bg-block {
    flex-direction: column-reverse;
  }
  .aboutMe-Pic {
    transform: rotate(0);
    top: 0;
    margin: 0;
  }
}
