.aboutMe {
  // display: flex;
  // align-items: flex-start;
  // flex-direction: column;
  // position: relative;
  // gap: 8px;
  // width:100%;
  max-height: 80vh;
  overflow-y: scroll;
}
// .aboutMe-item-container {
//     height: auto;
//     width: 98%;
//     // display: grid;

//     border: 1px solid red;
// }

// @media(max-width: 600px) {
//   .aboutMe-item-container {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: 8px;
//     height: auto;
//     width: 98%;
//     border: 1px solid red;
//   }
// }
// @media(min-width: 601px) {
//   .aboutMe-item-container {
//     grid-template-columns: 1fr 1fr;
//     height: auto;
//     width: 98%;
//     border: 1px solid red;
//   }
// }

// .aboutMe-item{
//   height: auto;
//   min-height: 100px;
//   width: auto;

// }
// .aboutMe-item.text-wrap {

//   border: 1px solid green;
// }
// .aboutMe-item.pic-wrap {

//   border: 1px solid pink;
// }

// .aboutMe-Head {
//   width: 100%;

// }

// .aboutMe-Biog {

// }

// .aboutMe-Goals {

// }

.aboutMe-Pic {
  border-radius: $primBord-Rad;
  border: $primBord;
  // position: absolute;
  // z-index: 2;
}

// .pic001 {
//   // width: auto;
//   // height: 200px;
//   transform: rotate(16deg);
//   top: 0;
//   right: -2%;
// }

// .pic002 {
//   width: 320px;
//   height: auto;
//   transform: rotate(-8deg);
//   bottom: -2%;
//   right: 12%;
// }

// .pic003 {
//   width: auto;
//   height: 200px;
//   transform: rotate(-16deg);
//   top: 28%;
//   left: -2%;
// }
