// Specific CSS for your home-page

.home-title {
  height: 25vh;
  width: auto;
  position: absolute;
  top: 16vh;
  left: 32px;
  color: rgb(120, 120, 120);
  h1 {
    font-family: $typewriter;
  }
  h3 {
    font-family: $typewriter;
  }
}
