.shoutouts {
  display: flex;
  // flex-direction: column;
}

.shout-card {
  border: 1px solid;
  max-width: fit-content;
}

.shout-title .row {
  margin: 0;
  gap: 8px;
  align-items: center;
  h4 {
    margin: 0
  }
}

ul.shout-details-links {
  list-style-type: none;
}
