.shoutouts {
  display: flex;
  gap: 8px;
  flex-direction: column;
  // justify-content: center;
  max-height: 80vh;
  overflow-y: scroll;
}

.shout-card {
  border: $primBord;
  border-radius: $primBord-Rad;
  max-width: 98%;
}

.shout-title .row {
  margin: 0;
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
  h4 {
    margin: 0;
  }
}

.link-item {
  display: flex;
  flex-direction: row;
}
ul.shout-details-links {
  list-style-type: none;
}
