.shoutouts {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  // overflow-y: scroll;
}

.shout-card {
  border: $primBord;
  border-radius: $primBord-Rad;
  width: 720px;
  max-width: 80vw;
}

.shout-title .row {
  margin: 0;
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
  h4 {
    margin: 0;
  }
}
.title-image img {
  border-radius: $primBord-Rad;
}

.link-item {
  display: flex;
  flex-direction: row;
}
ul.shout-details-links {
  list-style-type: none;
}
