<footer id="foot">

  <div id="contacts">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <div id="note">
    ❤ note
  </div>

</footer>