<header id="head">
  <h6><%= link_to "www.thebatcave.dev", home_path %></h6>

  <div id="linksAB">
    <a href="https://github.com/akbattman" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://uk.linkedin.com/in/akbattman" target="blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/akbattman" target="blank"><i class="fab fa-twitter"></i></a>
  </div>

</header>
