<header id="head">
<h6>Aaron K. Battman</h6>

 <div id="linksAB">
    <a href="https://github.com/akbattman" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://uk.linkedin.com/in/akbattman" target="blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/akbattman" target="blank"><i class="fab fa-twitter"></i></a>
  </div>

  <%# <div id="titleAnim">
    <h1>Aaron K. Battman</h1>
    <h2><span id="typed"></span></h2>
  </div> %>

  <%# <div id="vwMdBtns">
    <div>
      <input type="radio" id="lgtMd" name="viewMode" value="dark" checked>
      <label for="Dark Mode">Dark Mode</label>
    </div>

    <div> 
      <input type="radio" id="drkMd" name="viewMode" value="light">
      <label for="Light Mode">Light Mode</label>
    </div>

  </div> %>

</header>
