<header id="head">

  <div id="titleAnim">
    <h1>Aaron K. Battman  <span id="typed"></span></h1>
  </div>

  <div id="vwMdBtns">
    <div>
      <input type="radio" id="lgtMd" name="viewMode" value="dark" checked>
      <label for="Dark Mode">Dark Mode</label>
    </div>

    <div> 
      <input type="radio" id="drkMd" name="viewMode" value="light">
      <label for="Light Mode">Light Mode</label>
    </div>

  </div>

</header>
