 <!-- Button trigger modal -->
<div class="entryMod">
  <button type="button" class="btn btn-primary btnBat btnBat1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Enter Aaron's Portfolio Site V.1.0
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog m-dBat">
      <div class="modal-content m-cBat">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">My site uses audio !</h5>
          <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
        </div>
        <div class="modal-body modal-body-bat">
        	My mate DOM has some small, silly sound effects to play for you to enhance your visit here but has to have your permission to offer them up, because you know... the 'future'.
        </div>
        <div class="modal-footer modal-footer-bat">
          <button type="button" id="FlsAudio" class="btn btn-secondary btnBat btnBat2" data-bs-dismiss="modal">Boring</button>
          <button type="button" id="TrAudio" class="btn btn-primary btnBat btnBat1" data-bs-dismiss="modal">I Like Fun</button>
        </div>
      </div>
    </div>
  </div>
</div>
