<div id="sideNav">
  <div class="audioMute">
    <%# <div class="container">
      <div class="unmuted toggle-sound"  href="#">
        <div class="tooltip--left sound" data-tooltip="Turn On/Off Sound">
          <div class="sound--icon fa fa-volume-off"></div>
          <div class="sound--wave sound--wave_one"></div>
          <div class="sound--wave sound--wave_two"></div>
          <div class="sound--wave sound--wave_three"></div>
        </div>
      </div> %>
    <%# </div> %>
  </div>
  <a href="https://github.com/akbattman" target="blank"><i class="fab fa-github"></i></a>
  <a href="https://uk.linkedin.com/in/akbattman" target="blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://twitter.com/akbattman" target="blank"><i class="fab fa-twitter"></i></a>
</div>
