<div id="sideNav">

  <%# <a href="#" class="mute"><i class="fas fa-volume-mute"></i></a> %>
  <%# <a href="#" class="mute"><i class="fas fa-volume-up"></i></a> %>

  <a href="#" class="volume" disabled="true"><i class="fas fa-volume-mute"></i></a>

  <a href="https://github.com/akbattman" target="blank"><i class="fab fa-github"></i></a>
  <a href="https://uk.linkedin.com/in/akbattman" target="blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://twitter.com/akbattman" target="blank"><i class="fab fa-twitter"></i></a>
</div>
