<div class="aboutMe p-3">

  <div class="aboutMe-Title">
    <h2>Man, Myth, Legend</h2>
    <h4>Quick Bio</h4>
    <hr>
  </div>

  <div class="aboutMe-section biog-section">
    <h4>Introduction</h4>
    <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002', size: '300x150' %>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
  </div>

  <div class="aboutMe-section bckgrnd-section">
    <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', size: '150x200' %>
    <h4>Background</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
  </div>

  <div class="aboutMe-section goals-section">
    <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003', size: '150x200' %>
    <h4>Goals</h4>
    <p>      
      &emsp;The ideal employment I am endevouring to secure this year would be something affiliated deeply with green tech and the environment. I would very much like to feel that my day-to-day is contributing towards a positive impact in the world. But.., hehe, that said..., just to achieve a secure role in the world of code is more than desirable.
    </p>
    <p>
      &emsp;In the short term my goals this year are to continue my journey of self teaching by way of sampling a number of alternative languages and frameworks from my primary stack, begining with python as a language and a project of some nature with React (let's face it, probably another Air BnB clone, lols), in pursuit of broadening my scope of engineering oppotunity, increase my understanding of programming as a whole and to refine my approach to development expotentially.
    </p>
  </div>
  <hr style="width: 96%; float: left">

<%# ####################################################### %>
<%# ####################################################### %>


  <%# <div class="aboutMe-Block bio-block">
    <div class="aboutMe-Block-Text">
      <h4>Me Biog</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002', size: '300x150' %>
    <%# </div>
  </div> %>

<%# 
  <div class="aboutMe-Block bg-block">
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003', size: '150x200' %>
    <%# </div>
    <div class="aboutMe-Block-Text">
      <h4>Background</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
  </div> %>


  <%# <div class="aboutMe-Block goals-block">
    <div class="aboutMe-Block-Text">
      <h4>Goals</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', size: '150x200' %>
    <%# </div>
  </div> %>


<%# ####################################################### %>
<%# ####################################################### %>

</div>