<%# <%= render "shared/coming_soon" %>

<div class="aboutMe p-3">
  <div class="aboutMe-item title p-3">🙏 Hi I'm Aaron 🖐</div>
  <div class="aboutMe-item content p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nisi consequuntur reiciendis esse dolore placeat hic pariatur animi. Dolorum voluptates, laborum placeat id laudantium omnis, at quibusdam neque consequuntur eveniet beatae, provident nihil et molestias eos magnam officia deleniti sint facilis ratione mollitia sed maxime voluptatum. Quisquam molestias expedita id facilis, ab temporibus provident assumenda voluptate, itaque amet voluptatum pariatur labore quae, aut perspiciatis omnis excepturi quo. Harum exercitationem nisi voluptatum repellat doloremque tempore cumque eaque ex fuga, laborum porro quos accusamus aliquid quam minima distinctio nesciunt eveniet, quod dolorum, facilis incidunt consequatur saepe officia quisquam! Provident vel ex sit perspiciatis quaerat unde quis earum rerum excepturi veniam dolorem tempora totam ipsam recusandae, eius quod ad nostrum voluptates mollitia, facere ducimus! At ab saepe esse nihil corporis cupiditate veniam tenetur, veritatis ut omnis eius aut repellat inventore, modi numquam molestias quidem rerum. Iusto ab sequi non ut nisi maxime molestiae.
  </div>
  <div class="aboutMe-item p-3">
    
  </div>

</div>