

<div class="aboutMe p-3">

  <div class="aboutMe-Title">
    <h2>Man, Myth, Legend</h2>
    <h4>some other tagline</h4>
    <hr>
  </div>

  <div class="aboutMe-section biog-section">
    <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002', size: '300x150' %>
    <h4>Me Biog</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
  </div>

  <div class="aboutMe-section bckgrnd-section">
    <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', size: '150x200' %>
    <h4>Background</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
  </div>

  <div class="aboutMe-section goals-section">
    <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003', size: '150x200' %>
    <h4>Goals</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
  </div>


<%# ####################################################### %>
<%# ####################################################### %>


  <%# <div class="aboutMe-Block bio-block">
    <div class="aboutMe-Block-Text">
      <h4>Me Biog</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002', size: '300x150' %>
    <%# </div>
  </div> %>

<%# 
  <div class="aboutMe-Block bg-block">
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003', size: '150x200' %>
    <%# </div>
    <div class="aboutMe-Block-Text">
      <h4>Background</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
  </div> %>


  <%# <div class="aboutMe-Block goals-block">
    <div class="aboutMe-Block-Text">
      <h4>Goals</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap"> %>
      <%# image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', size: '150x200' %>
    <%# </div>
  </div> %>


<%# ####################################################### %>
<%# ####################################################### %>

</div>