<%# <%= render "shared/coming_soon" %>

<div class="aboutMe p-3">
  <div class="aboutMe-Head">
    <h3>Man, Myth, Legend</h3>
  </div>
  
  <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001' %>
  <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002' %>
  <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003' %>

</div>