<%# <%= render "shared/coming_soon" %>

<div class="aboutMe p-3">
  <div class="aboutMe-Head">
    <h2>Man, Myth, Legend</h2>
  </div>
  
  <%# <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', height: '200px', width: '150px' %>
  <%# <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002' %>
  <%# <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003' %>

  <div class="aboutMe-Biog">
    <p>

    </p>
  </div>

</div>