<%# <%= render "shared/coming_soon" %>

<div class="aboutMe p-3">
  <%# <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', height: '200px', width: '150px' %>
  <%# <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002' %>
  <%# <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003' %>

  <div class="aboutMe-item aboutMe-Head">
    <h2>Man, Myth, Legend</h2>
    <h4>some other tagline</h4>
  </div>
  

  <div class="aboutMe-item aboutMe-Biog">
    <h4> quick biog </h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem necessitatibus tenetur in ab, corporis dolor minima nulla accusantium doloribus enim itaque sequi ea! Quisquam cum voluptatum nihil amet explicabo sit recusandae dolore molestiae veritatis, hic deleniti aperiam excepturi incidunt cupiditate mollitia optio porro maiores corporis quod velit iusto fugit ratione?</p> 
  </div>

  <div class="aboutMe-item aboutMe-Goals">
    <h4> goals </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto quia et neque error architecto corrupti eos nulla atque accusamus doloremque repudiandae maxime porro, voluptas minima ducimus ullam veniam tempora nostrum iure accusantium alias unde veritatis? Mollitia, laudantium officiis doloremque quidem quae maxime tempora, itaque necessitatibus neque possimus repellendus dolores?</p>
  </div>

</div>
