<div class="container contactMe mt-3 p-3">
  <h2>CONNECT WITH ME</h2>
  <hr>
  <br>

  <h4><a href="https://github.com" target="blank">GitHub</a></h4> 
  <p><a href="https://github.com/akbattman" target="blank">https://github.com/akbattman</a></p>

  <h4><a href="https://www.linkedin.com" target="blank">LinkIn</a></h4> 
  <p><a href="https://www.linkedin.com/in/akbattman" target="blank">https://www.linkedin.com/in/akbattman</a></p>

  <h4><a href="https://twitter.com" target="blank">Twitter</a></h4> 
  <p><a href="https://twitter.com/akbattman" target="blank">https://twitter.com/akbattman</a></p>
  <br>
  <hr>
  <h4><a href="mailto:aaron.k.battman@outllok.com" target="blank">Email: aaron.k.battman@outlook.com</a></h4> 
</div>