<div class="connections p-3">
  <div class="connect-card p-3">
    <h3 class="title">CONNECT WITH ME</h3>
    <hr>
    <br>

    <h3><a href="https://github.com" target="blank">GitHub</a></h3> 
    <h5><a href="https://github.com/akbattman" target="blank">https://github.com/akbattman</a></h5>

    <h3><a href="https://www.linkedin.com" target="blank">LinkedIn</a></h3> 
    <h5><a href="https://www.linkedin.com/in/akbattman" target="blank">https://www.linkedin.com/in/akbattman</a></h5>

    <h3><a href="https://twitter.com" target="blank">Twitter</a></h3> 
    <h5><a href="https://twitter.com/akbattman" target="blank">https://twitter.com/akbattman</a></h5>

    <br>
    <hr>
    <h4 class="mail-me"><a href="mailto:aaron.k.battman@outllok.com" target="blank">Email: aaron.k.battman@outlook.com</a></h4>
  </div>

  <div class="contactFormBtn">
    <%= link_to message_aaron_path do %>
      <input type="submit" value="Or message me directly here" class="btn btn-primary btnBat">
    <% end %>
  </div>
</div>
