<div class="wrap" id="homewrap">

  <div class="title">
    <h1>Aaron K. Battman</h1>
    <h2><span id="typed"></span></h2>
  </div>


  <%# <div class="art" id="sun"></div> %>
  <%# <div class="art" id="moon"></div> %>

</div>