<div class="shoutout p-3">
  
  <div class="shout leWagon p-3">
    <h4 class="shout-item">Le Wagon</h4>
    <p class="shout-item">Coding School bringing Technical Skills to Creative People</p>
    <a class="shout-item" class="shout-item" href="https://www.lewagon.com/" target="blank">www.lewagon.com</a>
    <a class="shout-item" href="https://github.com/lewagon" target="blank"><i class="fab fa-github"></i>  https://github.com/lewagon</a>
    <a class="shout-item" href="https://www.linkedin.com/school/le-wagon/" target="blank"><i class="fab fa-linkedin"></i>  https://www.linkedin.com/school/le-wagon</a>
    <a class="shout-item" href="https://twitter.com/Lewagonparis" target="blank"><i class="fab fa-twitter"></i>  @Lewagonparis</a>
    <a class="shout-item" href="mailto:contact@lewagon.com" target="blank">email: contact@lewagon.com</a>
    <div class="shout-item img001">image</div>
  </div>

  <div class="shout creds p-3">
    <h2 class="shout-item">Credits</h2>
    <p class="shout-item">
      "//=><br>
        typed.js,<br>
        https://codepen.io/giannisrig - for audio button,<br>
        Additional sound effects from https://www.zapsplat.com"
    </p>
  </div>

  <div class="shout suzlePants p-3">
    <h2 class="shout-item">Head</h2>
    <p class="shout-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero ex omnis suscipit ad nemo. Architecto, quaerat iure. Deserunt animi minus tenetur voluptas nobis porro ratione ipsa id commodi, minima aliquam culpa nemo saepe quam magni. Iure minima, facilis sed numquam voluptas maiores maxime soluta, laudantium accusantium error, voluptatem fugit.</p>
  </div>
  <div class="shout suzlePants p-3">
    <h2 class="shout-item">Head</h2>
    <p class="shout-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero ex omnis suscipit ad nemo. Architecto, quaerat iure. Deserunt animi minus tenetur voluptas nobis porro ratione ipsa id commodi, minima aliquam culpa nemo saepe quam magni. Iure minima, facilis sed numquam voluptas maiores maxime soluta, laudantium accusantium error, voluptatem fugit.</p>
  </div>
  <div class="shout suzlePants p-3">
    <h2 class="shout-item">Head</h2>
    <p class="shout-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero ex omnis suscipit ad nemo. Architecto, quaerat iure. Deserunt animi minus tenetur voluptas nobis porro ratione ipsa id commodi, minima aliquam culpa nemo saepe quam magni. Iure minima, facilis sed numquam voluptas maiores maxime soluta, laudantium accusantium error, voluptatem fugit.</p>
  </div>
 
</div>
