<div class="shoutout p-3">
  
  <div class="shout leWagon p-3">
    <h4>Le Wagon</h4>
    <p>Coding School bringing Technical Skills to Creative People</p>
    <a href="https://www.lewagon.com/" target="blank">www.lewagon.com</a>
    <a href="https://github.com/lewagon" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/" target="blank"><i class="fab fa-linkedin"></i></a>
    <a href="@Lewagonparis" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="mailto:contact@lewagon.com" target="blank">email: contact@lewagon.com</a>
  </div>

  <div class="shout typedMatt p-3">
    <h2>Matt Boldt</h2>
    <p>typed.js</p>
  </div>

  <div class="shout suzlePants p-3">
    <h2>Suzannah Taylor</h2>
    <p>dedicated her indoors</p>
  </div>

  <div class="shout suzlePants p-3">
    <h2>Suzannah Taylor</h2>
    <p>dedicated her indoors</p>
  </div>

  <div class="shout suzlePants p-3">
    <h2>Suzannah Taylor</h2>
    <p>dedicated her indoors</p>
  </div>
</div>
