<%# <div class="canvas">
  <div class="unmuted toggle-sound"  href="#">
		<div class="tooltip--left sound" data-tooltip="Turn On/Off Sound">
		  <div class="sound--icon fa fa-volume-off"></div>
		  <div class="sound--wave sound--wave_one"></div>
		  <div class="sound--wave sound--wave_two"></div>
		  <div class="sound--wave sound--wave_three"></div>
		</div>
	</div>
</div> %>

<%# <div class="container permission p-3"></div> %>
<%# <%= render "shared/audio_button" %>