.btnBat {
  color: $bat-yel;
  background: none;
  border: 1px solid $bat-yel;
  &:hover, &:focus {
    color: $bat-yel;
    background: none;
    border: 1px solid $bat-yel;
    box-shadow: 0 0 0 2px $bat-yel;
    text-shadow: 0 0 2px $bat-yel;
  }
}
