.cvAB-img {
  height: 80vh;
  width: 56vh;
  z-index: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('abcv21');
  background-size: cover;
  background-position: center;

  border: 1px solid $bat-yel;
  
  button {
    width: 30px;
    height: 15px;

    position: absolute;
    top: -1vw;
    right: -1vw;
  }
}
