.cvAB-img {
  height: 80vh;
  width: 56vh;
  z-index: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('abcv21');
  background-size: cover;
  background-position: center;

  border: 1px solid $bat-yel;

  &:hover {
    box-shadow: 0 0 0 2px $bat-yel;
  }
  
  button {
    // width: 60px;
    // height: 20px;

    border: none;
    background: none;
    color: inherit;
    font-size: x-small;

    position: absolute;
    top: -20px;
    right: -16px;

    &:hover {
      font-weight: bolder;
    }
  }
}
