footer {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items:flex-end;
  overflow: hidden;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.buildings {
  background: black;
  &.bld1 {
    height: 7vh;
    width: 14vw;
    margin-right: 1vw;
  }
  &.bld2 {
    height: 19vh;
    width: 10vw;
  }
  &.bld3 {
    height: 9vh;
    width: 11vw;
    margin-right: 1vw;
  }
  &.bld4 {
    height: 13vh;
    width: 10vw;
  }
  &.bld5 {
    height: 16vh;
    width: 16vw;
    margin-right: 1vw;
  }
  &.bld6 {
    height: 8vh;
    width: 10vw;
    margin-right: 1vw;
  }
  &.bld7 {
    height: 12vh;
    width: 13vw;
  }
  &.bld8 {
    height: 9vh;
    width: 13vw;
  }
}

.navi {
  background: black;
  width: 100vw;
  height: 5vh;
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: space-evenly;
}
