header {
  height: 8vh;
  width: auto;
  padding: 16px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  h6 {
    font-size: MIN(2.5vw, 16px);
  }
}

#burgerBat {
  display: block;
  background-image: image-url('bat_logo_cutstom-transp');
  background-position: center;
  background-size: cover;
  height: 64px;
  width: 64px;
  }

.dropdown-menu.show {
  background: none;
}

.dropdown-item {
  color: $bat-yel;
}
