#head {
  height: 8vh;
  width: auto;
  padding: 16px;
  //   border: 1px solid aliceblue;
  //   border-radius: 8px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  h6 {
    font-size: MIN(2.5vw, 16px);
  }
}

#linksAB {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  a {
    font-size: MIN(2.5vw, 16px);
  }
}
.bat-ico {
  display: block;
  background-image: image-url('batlogo');
  background-position: center;
  background-size: cover;
  height: 4vw;
  width: 4vw;
  }



// #titleAnim {
//   width: 100%;
//   margin: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   h1, h2 {
//     height: 5%;
//     width: 100%;
//     text-align: center;
//   }
// }

// #vwMdBtns {
//   flex-direction: column;
// }