header {
  height: 8vh;
  width: auto;
  padding: 16px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  // h6 {
  //   font-size: MIN(2.5vw, 16px);
  // }
}

.logoBat{
  height: 64px;
  width: 64px;
}

.dropdown-menu.show {
  background: none;
}

.dropdown-item {
  color: $bat-yel;
  &:hover, &:focus {
    background: none;
    color: $bat-yel;
  }
}
