#sideNav {
  width: 32px;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

// .tooltip-arrow,
// .tooltip-Bat + .tooltip > .tooltip-inner {       
//   background-color: #f00;
// }

// .arrow {
//   // background: $bat-yel;
// }

.tooltip-inner {
  color: inherit;
  background: black;
}
