// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  color: $bat-yel;
  background: rgb(0,0,0);
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(0,0,21,1) 36%, rgba(0,0,48,1) 100%);
}

.yieldContent {
  // height: 100vh;
  // width: auto;
  // display: flex;
  // padding: 16px;
  // margin: .5vh .5vw;
  // overflow: auto;
  // &::-webkit-scrollbar {
  //     width: 4px;
  // }
  // &::-webkit-scrollbar-button {
  // display: none;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: #808080;
  //   border-radius: 50px;
  // }
  // &::-webkit-scrollbar-thumb:hover {
  //   background: aliceblue
  // }
  // &::-webkit-scrollbar-thumb:active {
  //   background: aliceblue;
  // }
  // &::-webkit-scrollbar-track {
  //   background: #505050;
  //   border-radius: 50px;
  // }
  // &::-webkit-scrollbar-corner {
  //   background: transparent;
  // }
}
