// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/compo_styling";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  color: $bat-yel;
  background: rgb(0,0,0);
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(0,0,21,1) 36%, rgba(0,0,48,1) 100%);
  a {
    color: inherit;
    &:hover{
      text-decoration: none;
      color: inherit;
      font-weight: bolder;
    }
  }
}

.yieldContent {
  height: 90vh;
}

.dimmer {
  opacity: .2;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 4px;
  // height: 4px;
}
::-webkit-scrollbar-button {
  width: 16px;
  // height: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(242,203,45, .3);
  // border: none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background:  rgba(242,203,45, .7);
}
::-webkit-scrollbar-track {
  // background: none;
  // border: none;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #646464;
}
::-webkit-scrollbar-track:active {
  background: #323232;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
